In [43]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

import matplotlib.pyplot as plt
from pylab import rcParams

import seaborn as sb

Data Pull

In [44]:
address = '/Users/foppong/Desktop/Data Analyses/Seer Cancer/data.csv'
rates = pd.read_csv(address)

# head() returns only the first 5 of your dataset; others include tail() and sample(5)
rates.head()

  Race/Ethnicity   Sex Age At Diagnosis     Rate
0          White  Male               <1  25.2051
1          White  Male            4-Jan  24.1658
2          White  Male            9-May  14.5183
3          White  Male           14-Oct  15.1368
4          White  Male            15-19  24.9887

Grouping and data aggregation

In [45]:
rates_sex_groups = rates.groupby(rates['Sex'])
rates_sex_groups.mean()

              Rate
Sex
Female  578.341828
Male    829.577921

In [40]:
rates_age_groups = rates.groupby(rates['Age At Diagnosis'])
rates_age_groups.mean()

                         Rate
Age At Diagnosis
14-Oct              12.245883
15-19               18.827317
20-24               28.872683
25-29               46.855217
30-34               76.539433
35-39              119.793250
4-Jan               19.059650
40-44              201.251667
45-49              329.931267
50-54              532.438583
55-59              800.050000
60-64             1155.740200
65-69             1598.460450
70-74             1884.965733
75-79             2118.858983
80-84             2233.361183
85+               2164.609967
9-May               11.072100
<1                  22.304050

In [50]:
rates.index = rates.Rate
age = rates['Age At Diagnosis']

age.plot(kind='hist')

TypeError: Empty 'DataFrame': no numeric data to plot